<% layout("/layouts/boilerplate") %>
<body>
  <div class="container">
    <div class="row justify-content-center mt-4">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <form method="POST" action="/listings">
          <h2 class="mb-4">Create a New Listing</h2>

          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input 
              name="listing[title]" 
              placeholder="Add a catchy title" 
              type="text" 
              class="form-control"
              required
            >
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea 
              name="listing[description]" 
              placeholder="Enter description" 
              class="form-control"
              rows="4"
              required
            ></textarea>
          </div>

          <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input 
              name="listing[image]" 
              placeholder="Enter image URL/Link" 
              type="text" 
              class="form-control"
              required
            >
          </div>

          <div class="row">
            <div class="mb-3 col-md-4">
              <label for="price" class="form-label">Price</label>
              <input 
                name="listing[price]" 
                placeholder="1200" 
                type="number"
                class="form-control"
                required
              >
            </div>

            <div class="mb-3 col-md-8">
              <label for="country" class="form-label">Country</label>
              <input 
                name="listing[country]" 
                placeholder="India" 
                type="text"
                class="form-control"
                required
              >
            </div>
          </div>

          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input 
              name="listing[location]" 
              placeholder="Jaipur, Rajasthan" 
              type="text"
              class="form-control"
              required
            >
          </div>

          <button class="btn btn-dark add-btn mt-3 mb-3">Add</button>
        </form>
      </div>
    </div>
  </div>
</body>
